@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-hover">
    <tr class="tracks-table-header">
        <th>
            №
        </th>
        <th>
        </th>
        <th>
            Name
        </th>
        <th>
            Artist
        </th>
        <th>
            Album
        </th>
    </tr>
    @{
        int i = 1;
        foreach (Treck item in Model.BestTreks)
        {

            @await Html.PartialAsync("AllTreks", item)
            ++i;
        }
    }
</table>