/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 56px;
}

.text-field {
    background-color: #292929 !important;
    color: white !important;
    border: solid 1px;
    border-color: white !important;
}
.navbar-nav #user-profile {
    height: 50px;
    padding-top: 10px;
    padding-left: 30px;
}

    .navbar-nav #user-profile img {
        height: 35px;
        width: 35px;
        border-radius:100%;
        left: 2px;
        padding: 1px;
    }
