/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');


body {
    padding-top: 50px;
    padding-bottom: 30px;
    background: lightgray;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-default .navbar-nav #user-profile {
    height: 50px;
    padding-top: 15px;
    padding-left: 58px;
}

    .navbar-default .navbar-nav #user-profile img {
        height: 45px;
        width: 45px;
        position: absolute;
        top: 2px;
        left: 8px;
        padding: 1px;
    }

#wrapper {
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

@media (min-width: 992px) {
    #wrapper {
        padding-left: 225px;
    }
}

@media (min-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 225px;
    }
}

#sidebar-wrapper {
    border-right: 1px solid #e7e7e7;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 225px;
    width: 0;
    height: 100%;
    margin-left: -225px;
    overflow-y: auto;
    background: #f8f8f8;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
    #sidebar-wrapper .sidebar-nav {
        position: absolute;
        top: 0;
        width: 225px;
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        list-style: none;
    }

        #sidebar-wrapper .sidebar-nav li {
            text-indent: 0;
            line-height: 45px;
            
        }
            #sidebar-wrapper .sidebar-nav li ul {
                text-indent: 0;
                line-height: 45px;
                font-size: 14px;
                font-weight: normal;
            }

            #sidebar-wrapper .sidebar-nav li a {
                display: block;
                text-decoration: none;
                color: #428bca;
            }
        #sidebar-wrapper .sidebar-nav li a :hover {
            color: #eb3d3d;
            
        }

.sidebar-nav li:first-child a {
    background: #fff !important;
    color: #000000 !important;
    
}

#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
    width: 45px;
    height: 45px;
    font-size: 20px;
    padding: 0 2px;
    display: inline-block;
    text-indent: 7px;
    margin-right: 10px;
    color: #000000;
    float: left;
}

    #sidebar-wrapper .sidebar-nav li a .caret {
        position: absolute;
        right: 23px;
        top: auto;
        margin-top: 20px;
    }

#sidebar-wrapper .sidebar-nav li ul.panel-collapse {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    padding: 0;
}

    #sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
        margin-right: 10px;
    }

    #sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
        text-indent: 15px;
    }

@media (max-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 45px;
    }

        #wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
            position: fixed;
            left: 45px;
            margin-top: -45px;
            z-index: 1000;
            width: 200px;
            height: 0;
        }
}

.sidebar-nav li:first-child a {
    background: #fff !important;
    color: #000000 !important;
}

.sidebar-nav li:nth-child(2) a {
    background: #fff !important;
    color: #000000 !important;
}

.sidebar-nav li:nth-child(3) a {
    background: #fff !important;
    color: #000000 !important;
}

.sidebar-nav li:nth-child(4) a {
    background: #fff !important;
    color: #000000 !important;
}

.sidebar-nav li:nth-child(5) a {
    background: #fff !important;
    color: #000000 !important;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);

body {
    
    background: #F7F7F7;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

body {
    width: 100%;
    background: -webkit-linear-gradient(left, #22d686, #24d3d3, #22d686, #24d3d3);
    background: linear-gradient(to right, #22d686, #24d3d3, #22d686, #24d3d3);
    background-size: 600% 100%;
    -webkit-animation: HeroBG 20s ease infinite;
    animation: HeroBG 20s ease infinite;
}

@-webkit-keyframes HeroBG {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes HeroBG {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}


.panel {
    border-radius: 5px;
}

label {
    font-weight: 300;
}

.panel-login {
    border: none;
    -webkit-box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);
    -moz-box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);
    box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);
}

    .panel-login .checkbox input[type=checkbox] {
        margin-left: 0px;
    }

    .panel-login .checkbox label {
        padding-left: 25px;
        font-weight: 300;
        display: inline-block;
        position: relative;
    }

    .panel-login .checkbox {
        padding-left: 20px;
    }

        .panel-login .checkbox label::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 17px;
            height: 17px;
            left: 0;
            margin-left: 0px;
            border: 1px solid #cccccc;
            border-radius: 3px;
            background-color: #fff;
            -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        }

        .panel-login .checkbox label::after {
            display: inline-block;
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            top: 0;
            margin-left: 0px;
            padding-left: 3px;
            padding-top: 1px;
            font-size: 11px;
            color: #555555;
        }

        .panel-login .checkbox input[type="checkbox"] {
            opacity: 0;
        }

            .panel-login .checkbox input[type="checkbox"]:focus + label::before {
                outline: thin dotted;
                outline: 5px auto -webkit-focus-ring-color;
                outline-offset: -2px;
            }

            .panel-login .checkbox input[type="checkbox"]:checked + label::after {
                font-family: 'FontAwesome';
                content: "\f00c";
            }

    .panel-login > .panel-heading .tabs {
        padding: 0;
    }

    .panel-login h2 {
        font-size: 20px;
        font-weight: 300;
        margin: 30px;
    }

    .panel-login > .panel-heading {
        color: #848c9d;
        background-color: #e8e9ec;
        border-color: #fff;
        text-align: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom: 0px;
        padding: 0px 15px;
    }

    .panel-login .form-group {
        padding: 0 30px;
    }

    .panel-login > .panel-heading .login {
        padding: 20px 30px;
        border-bottom-leftt-radius: 5px;
    }

    .panel-login > .panel-heading .register {
        padding: 20px 30px;
        background: #2d3b55;
        border-bottom-right-radius: 5px;
    }

    .panel-login > .panel-heading a {
        text-decoration: none;
        color: #666;
        font-weight: 300;
        font-size: 16px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }

        .panel-login > .panel-heading a#register-form-link {
            color: #fff;
            width: 100%;
            text-align: right;
        }

        .panel-login > .panel-heading a#login-form-link {
            width: 100%;
            text-align: left;
        }

    .panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
        height: 45px;
        border: 0;
        font-size: 16px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px solid #e7e7e7;
        border-radius: 0px;
        padding: 6px 0px;
    }

    .panel-login input:hover,
    .panel-login input:focus {
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: #ccc;
    }

.btn-login {
    background-color: #E8E9EC;
    text-align: center;
    outline: none;
    color: #2D3B55;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

    .btn-login:hover,
    .btn-login:focus {
        color: #fff;
        background-color: #2D3B55;
    }

.forgot-password {
    text-decoration: underline;
    color: #888;
}

    .forgot-password:hover,
    .forgot-password:focus {
        text-decoration: underline;
        color: #666;
    }

.btn-register {
    background-color: #E8E9EC;
    text-align:center;
    height: 50px;
    outline: none;
    color: #2D3B55;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

    .btn-register:hover,
    .btn-register:focus {
        color:crimson;
        background-color: #2D3B55;
    }